<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoxTicket</title>
    <link rel="icon" type="image/x-icon" href="/jpeg/foxfav.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<section class="banner" id="sec">
    <header>
        <div class="fox">
            <img src="/jpeg/fox.png">
            <a href="#" class="logo">FoxTicket</a>
        </div>
        <div id="toggle1"></div>
    </header>
    <div class="content">
        <h2>Hello World,<br> this is our FoxTicket Application!</h2>
        <div id="article-container"></div>
    </div>
</section>
<div id="navigation">
    <div id="toggle2"></div>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="http://localhost:8080/shop">Shop</a></li>
        <li><a href="http://localhost:8080/cart">Cart</a></li>
        <li><a href="http://localhost:8080/purchases">Purchases</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="http://localhost:8080/ourteam">Our Team</a></li>
        <li><a href="http://localhost:8080/login">Logout</a></li>
    </ul>
</div>
<script src="/js/home.js"></script>
</body>
</html>