<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/jpeg/foxfav.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header class="cartheader">
    <div class="foxteam">
        <img src="/jpeg/fox.png">
        <a href="#" class="logo">FoxTicket</a>
    </div>
</header>
<div class="login">
    <h2 class="logintext">Login</h2>
    <form>
        <div class="container">
            <label for="email">E-mail</label><br>
            <input type="text" placeholder="E-mail" name="email" id="email" autocomplete="on"><br>

            <label for="psw">Password</label><br>
            <input type="password" placeholder="Password" name="psw" id="psw" autocomplete="on"><br>

            <button id="loginbtn" type="submit">Login</button>
        </div>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>