<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchases</title>
    <link rel="icon" type="image/x-icon" href="/jpeg/foxfav.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header class="cartheader">
    <div class="foxteam">
        <img src="/jpeg/fox.png">
        <h1>My Purchases:</h1>
    </div>
    <nav>
        <a href="http://localhost:8080/home">Home</a>
        <a href="http://localhost:8080/shop">Shop</a>
        <a href="http://localhost:8080/cart">Cart</a>
        <a href="http://localhost:8080/purchases">Purchases</a>
        <a href="">Profile</a>
        <a href="http://localhost:8080/ourteam">Our Team</a>
        <a href="http://localhost:8080/login">Logout</a>
    </nav>
</header>
<div class="purchases-table">
</div>
<script src="/js/purchases.js"></script>
</body>
</html>