<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="icon" type="image/x-icon" href="/jpeg/foxfav.png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<header class="cartheader">
    <div class="foxteam">
        <img src="/jpeg/fox.png">
        <a href="#" class="logo">FoxTicket</a>
    </div>
</header>
<div class="registration">
    <h2 class="registrationtext">Registration</h2>
    <form>
        <div class="container">
            <label for="name">Name</label><br>
            <input type="text" placeholder="Name" name="name" id="name" autocomplete="on"><br>

            <label for="email">E-mail</label><br>
            <input type="text" placeholder="E-mail" name="email" id="email" autocomplete="on"><br>

            <label for="psw">Password</label><br>
            <input type="password" placeholder="Password" name="psw" id="psw" autocomplete="on"><br>

            <button id="registrationbtn" type="submit">Registration</button>
        </div>
    </form>
</div>
<script src="/js/registration.js"></script>
</body>
</html>